<header class="main-header">
    <div class="container nav-container">
        <a href="index.html" class="logo">
            <img src="https://i.ibb.co/zTBgWYPV/Air-Seychelles-Logo-NB.png" alt="Air Seychelles Logo">
        </a>
        <nav class="main-nav">
            <ul>
                <li class="dropdown">
                    <a href="#">Travel info <span class="arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="travel-info.html#vip">Air Seychelles VIP</a></li>
                        <li><a href="travel-info.html#rules">Flight TOU & Rules</a></li>
                        <li><a href="travel-info.html#guide">Flight Guide</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="about.html">About us <span class="arrow">▼</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html#fleet">Our Fleet</a></li>
                        <li><a href="about.html#destinations">Destinations</a></li>
                        <li><a href="about.html#team">Our Team</a></li>
                        <li><a href="about.html#history">History</a></li>
                    </ul>
                </li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="help.html">Help</a></li>
                <li><a href="hm-app/login.html" class="hm-app-btn">HM APP Login</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-banner" style="background-image: url('https://i.ibb.co/3mmbyBBX/Air-Seychelles-Banner.png');"></div>
</header>
